html {
  background-color: #8785a2;
}

body{
  margin: 0;
  background: url(./images/background2.jpg);
  background-size: cover;
  color: white;
}

body > div {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #00000073;
  overflow: hidden;
}

.heading {
  font-size: 3rem;
  width: 40vw;
  text-align: center;
  margin: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  text-transform: uppercase;
}

.grid {
  padding: 2rem;
  text-align: center;
  max-width: 900px;
  max-height: 500px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, minmax(auto, 3rem));
  grid-template-rows: repeat(6, minmax(auto, 3rem));
}

button {
  touch-action: manipulation;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bolder;
  border: white 3px solid;
}

.semi-correct {
  background-color: #f6bc35 !important;
  color: white !important;
}

.correct {
  background-color: #4aa96c !important;
  color: white !important;
}

.incorrect {
  background-color: #423f3e !important;
  color: white !important;
}

.hide {
  display: none !important;
}

.message {
  position: fixed;
  top: 15%;
  max-height: 3rem;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px white solid;
}

.keyboard {
  margin: 0.3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(20, minmax(0.35rem, 1.25rem));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
  justify-self: flex-end;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  fill: white;
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
}

.delete {
  background-color: rgb(248, 41, 41);
}

.enter {
  background-color: #4aa96c;
  color: white;
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

.restart {
  position: fixed;
  top: 18%;
  height: 50vh;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #423f3ecd ;
}

.restart-btn {
  background-color: rgb(255, 72, 72);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 20px;
  max-width: 150px;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
}

.restart-btn:hover {
  background-color: rgba(255, 0, 0);
}

.share-btn {
  cursor: pointer;
  margin: 1rem;
  text-align: center;
}

.share-btn a{
  color: white;
  text-decoration: solid;
}

.correct-word {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}


@media (max-width:1000px){
  .heading{
    width: 90vw;
  }
  .restart{
    width: 80vw;
  }
}